@charset "utf-8";
@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');

$body-family: 'Baloo Bhai', cursive;
$body-background-color: #fff;
$footer-background-color: #fff;

// Import Bulma styles
@import "~bulma";